---
layout: default
---

<article class="news" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="no-margin-top" itemprop="name headline">Occurrent {{ page.version }} released</h1>
    <div class="subtitle">{{ page.title }} (<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>)</div>
    {% unless page.hidewhatsoccurrent %}
    <div class="notification" markdown="1">
        Occurrent is a set of event sourcing utilities for the JVM based on the cloud events specification.
        Read more on the <a href="/">landing page</a>.
    </div>
    {% endunless %}
    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>
</article>
{% include socialButtons.html %}
